@model IEnumerable<AstoundContactsWebApp.Models.FilesViewModel>

@using AstoundContactsWebApp.Models

@{
    ViewData["Title"] = "File Upload";
   
}

<h4>Helpfil Docs</h4>
@if (Model!=  null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.File)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    
                    


                </tr>
            }

        </tbody>
    </table>
}


