@model AstoundContactsWebApp.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TechNum" class="control-label"></label>
                <input asp-for="TechNum" class="form-control" />
                <span asp-validation-for="TechNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobCategory" class="control-label"></label>
                <br />
                @foreach(Jobs jobs in (Jobs[]) Enum.GetValues(typeof(Jobs))){
                    @Html.RadioButtonFor(m => m.JobCategory, jobs) @string.Concat(jobs.ToString().Select(x => Char.IsUpper(x) ? " " + x : x.ToString())).TrimStart(' ')

                    <br />
                }
                
                <span asp-validation-for="JobCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
